<footer id="footer">
    <div class="logo-container">
      <img src="./assets/img/logo-mmrun-violeta.png" alt="logo violeta mmrun" />
      <p>Tercera Edición | <span>Septiembre '25</span></p>
    </div>
  
    <div class="social-media-container">
      <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
      <a href="#"><ion-icon name="mail"></ion-icon></a>
    </div>
  
    <div class="social-media-container documents">
      <a href="./documents/REGLAMENTO_GENERAL.pdf" download><ion-icon name="document-text"></ion-icon> Reglamento General</a>
      <a href="./documents/Autorización_para_Menor_de_Edad_y_Deslinde_de_Responsabilidad.pdf" download><ion-icon name="document-text"></ion-icon> Autorización Menores</a>
      <a href="./documents/Deslinde_de_Responsabilidades_para_MariMenucoRun2024.pdf" download><ion-icon name="document-text"></ion-icon> Deslinde</a>
      <a href="./documents/Planilla_de_acompañantes.pdf" download><ion-icon name="document-text"></ion-icon> Planilla</a>
    </div>
  
    <div class="separator"></div>
  
    <div class="hvdevs">
      <p>Una solución tecnológica de <a class="hvdevs-a" href="#">Nexus Core</a> <span><ion-icon name="rocket-outline"></ion-icon></span></p>
      <img src="./assets/img/logo-hvdevs.png" alt="Logo HVDevs" class="hvdevs-logo" />
    </div>
  </footer>
  