<div class="topbar">
    <div class="topbar-left">
      <ion-icon name="megaphone-outline" class="icon-anuncio"></ion-icon>
      <span class="edicion" id="typeWriter">Tercera Edición. Septiembre '25</span>
    </div>
    <div class="topbar-icons">
      <a href="mailto:contacto@mmrun.com.ar" title="Correo"><i class="fa-solid fa-envelope"></i></a>
      <a href="https://maps.google.com" title="Ubicación"><i class="fa-solid fa-location-dot"></i></a>
      <a href="https://instagram.com" title="Instagram"><i class="fa-brands fa-instagram"></i></a>
      <a href="/views/login/login.html" title="Acceso organizadores"><i class="fa-solid fa-user"></i></a>
    </div>
</div>
